@using Newtonsoft.Json;
@using WebsiteDocTruyenChu.Models
@using DatabaseProvider
@using PagedList
@using WebsiteDocTruyenChu.DTOs

@model ViewModelWithFourParams<List<HomeStoryImageDTO>,List<Category>, List<HomeStoryNoImageDTO>, List<HomeStoryImageDTO>>

<div class="section-stories-hot mb-3">
    <div class="container">
        <div class="row">
            <div class="head-title-global d-flex justify-content-between mb-2">
                <div class="col-6 col-md-4 col-lg-4 head-title-global__left d-flex align-items-center">
                    <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                        <a href="/danh-sach/truyen-hot" class="d-block text-decoration-none text-dark fs-4 story-name"
                            title="Truyện Hot">Truyện Hot</a>
                    </h2>
                    <i class="fa-solid fa-fire-flame-curved"></i>
                </div>

                <div class="col-4 col-md-3 col-lg-2">
                    <select class="form-select select-stories-hot" aria-label="Truyen hot">
                        <option selected="" value="all">Tất cả</option>
                        @foreach (Category category in Model.Item2)
                        {
                            <option value="@category.path">@category.categoryName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        @* Truyện hot *@
        <div class="row">
            <div class="col-12">
                <div class="section-stories-hot__list">
                    @foreach (var hotStory in Model.Item1)
                    {
                        <div class="story-item">
                            <a href="@Url.Action("Story","Page", new { storySlug = hotStory.slug })" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="@hotStory.insideImage" alt="@hotStory.name" class="img-fluid" width="150"
                                            height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">@hotStory.name</h3>

                                <div class="list-badge">
                                    @if (hotStory.status.ToLower() == "full")
                                    {
                                        <span class="story-item__badge badge text-bg-success">Full</span>
                                    }
                                    <span class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    @*<span class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>*@
                                </div>
                            </a>
                        </div>
                    }
                </div>

                <div class="section-stories-hot__list wrapper-skeleton d-none">
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        <div class="col-12 col-md-8 col-lg-9">
            <div class="section-stories-new mb-3">
                <div class="row">
                    <div class="head-title-global d-flex justify-content-between mb-2">
                        <div class="col-6 col-md-4 col-lg-4 head-title-global__left d-flex align-items-center">
                            <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                                <a href="/danh-sach/truyen-moi-cap-nhat"
                                    class="d-block text-decoration-none text-dark fs-4 story-name"
                                    title="Truyện Mới">Truyện Mới Cập Nhật</a>
                            </h2>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="section-stories-new__list">
                            @* Truyện mới *@
                            @foreach (var story in Model.Item3)
                            {
                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">

                                            <svg style="width: 10px; margin-right: 5px;"
                                                 xmlns="http://www.w3.org/2000/svg" height="1em"
                                                 viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="@Url.Action("Story","Page", new { storySlug = story.slug })"
                                               class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                @story.name
                                            </a>
                                        </h3>
                                        @*<span class="badge text-bg-info text-light me-1">New</span>*@

                                        @if (story.status.ToLower() == "full")
                                        {
                                            <span class="badge text-bg-success text-light me-1">Full</span>
                                        }
                                        @if (Model.Item1.Contains(story))
                                        {
                                            <span class="badge text-bg-danger text-light">Hot</span>
                                        }

                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            @foreach (string genreSlug in JsonConvert.DeserializeObject<List<string>>(story.genres.ToString()))
                                            {
                                                <a href="@Url.Action("Category","Page",new { slug = genreSlug })" class="hover-title text-decoration-none text-dark category-name text-capitalize">
                                                    @Model.Item2.Find(category=> category.path == genreSlug).categoryName
                                                </a>
                                                if (genreSlug != JsonConvert.DeserializeObject<List<string>>(story.genres.ToString()).Last())
                                                {
                                                    <span>, </span>
                                                }
                                                
                                            }
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapters ms-2">
                                        <a href="@Url.Action("StoryChapter","Page",new { storySlug = story.slug, chapterSlug = story.lastChapterSlug })" class="hover-title text-decoration-none text-primary">
                                            Chương @story.lastChapter
                                        </a>
                                    </div>


                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3 sticky-md-top">
            <div class="row">
                <div class="col-12">
                    @Html.Action("_CategoriesPane","Partial")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-stories-full mb-3 mt-3">
    <div class="container">
        <div class="row">
            <div class="head-title-global d-flex justify-content-between mb-2">
                <div class="col-12 col-md-4 head-title-global__left d-flex">
                    <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                        <a href="/danh-sach/truyen-full" class="d-block text-decoration-none text-dark fs-4 title-head-name"
                                title="Truyện đã hoàn thành">Truyện đã hoàn thành</a>
                    </h2>
                    <!-- <i class="fa-solid fa-fire-flame-curved"></i> -->
                </div>
            </div>
        </div>
        @* truyện full *@
        <div class="row">
            <div class="col-12">
                <div class="section-stories-full__list">
                    @foreach (var fullStory in Model.Item4)
                    {
                        <div class="story-item-full text-center">
                            <a href="@Url.Action("Story","Page", new { storySlug = fullStory.slug })" class="d-block story-item-full__image">
                                <img src="@fullStory.insideImage" alt="@fullStory.name" class="img-fluid w-100"
                                        width="150" height="230" loading="lazy">
                            </a>
                            <h3 class="fs-6 story-item-full__name fw-bold text-center mb-0">
                                <a href="/@fullStory.slug"
                                    class="text-decoration-none text-one-row story-name">
                                    @fullStory.name
                                </a>
                            </h3>
                            <span class="story-item-full__badge badge text-bg-success">Full - @fullStory.lastChapterSlug.Split('-')[@fullStory.lastChapterSlug.Split('-').Count() - 1] chương</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

