@model WebsiteDocTruyenChu.Models.ViewModelTwoParams<string, List<string>>
@*@using System.Text.RegularExpressions;*@
@{
    Layout = "~/Views/Shared/_AdminLayoutWithSidebarHeader.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title@(String.IsNullOrEmpty(Request.QueryString["query"]) ? "" : ": " + Request.QueryString["query"])</h1>
<p class="mb-4">
    @ViewBag.Title Management
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title DataTable</h6>
        <button type="button" class="btn btn-primary crud-btn" data-toggle="modal" data-target="#crudModal" data-action="Add">Add</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        @if (Model.Item1.ToLower() == "stories")
                        {
                            <th>More</th>
                        }
                        @foreach (string label in Model.Item2)
                        {
                            <th class="text-capitalize">@label</th>
                        }
                        <th>Options</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        @if (Model.Item1.ToLower() == "stories")
                        {
                            <th>More</th>
                        }
                        @foreach (string label in Model.Item2)
                        {
                            <th class="text-capitalize">@label</th>
                        }
                        <th>Options</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crud-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crud-modal"><span class="modal-action text-capitalize"></span> Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="crud-form">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit-btn">Execute</button>
            </div>
        </div>
    </div>
</div>

<!-- delete Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Remove Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to remove this record?
                <input type="hidden" name="id" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="remove-ok-btn">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Page level plugins -->
    <script src="@Url.Content("~/Content/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/datatables/dataTables.bootstrap4.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

    <!-- Page level custom scripts -->
    <script type="module" src="@Url.Content("~/Content/demo/datatables-demo.js")"></script>
}
