<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <!-- Bootstrap CSS v5.2.1 -->

    <link rel="shortcut icon" href="https://suustore.com/assets/frontend/images/favicon.ico" type="image/x-icon">

    <script>
        window.SuuTruyen = {
            baseUrl: 'https://suustore.com',
            urlCurrent: 'https://suustore.com',
            csrfToken: '4EebYu2rWivdRk1ET12dyuY0CJjpRERhJynPtvUy'
        }
    </script>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description"
          content="Đọc truyện online, truyện hay. Demo Truyện luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất.">
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <link href="@Url.Content("~/Content/assets/bootstrap.min.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/app.css")">
    @RenderSection("Styles", required:false)
</head>
<body>
    @* HEADER *@
    @Html.Action("_Header","Partial")

    @* BODY *@
    <main>
        @RenderBody()
    </main>
    @* Footer *@
    @Html.Action("_Footer","Partial")

    <script src="@Url.Content("~/Content/assets/jquery.min.js")">
    </script>
    <script src="@Url.Content("~/Content/assets/popper.min.js")">
    </script>
    <script src="@Url.Content("~/Content/assets/bootstrap.min.js")">
    </script>
    <script src="@Url.Content("~/Content/assets/app.js")">
    </script>
    <script src="@Url.Content("~/Content/assets/common.js")"></script>

    <div id="loadingPage" class="loading-full">
        <div class="loading-full_icon">
            <div class="spinner-grow"><span class="visually-hidden">Loading...</span></div>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("Scripts", required: false)
    <script>
        if (window.getCookie("bg_color") == "dark") {
            $("body").addClass('dark-theme')
        } else {
            $("body").removeClass('dark-theme')
        }
    </script>
</body>
</html>
